<h3>
  <%= link_to @settings.site_name, root_path, :class => 'show_loader', :'data-loader' => "admin_header" %> > Admin
  <span class="loader" data-loader="admin_header" style="display:none"></span>
</h3>

<ul class="nav nav-pills">
<% if current_user.admin? %>
  <li class="<%= 'active' if active == 'users' %>">
    <%= link_to "Users", :users, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'campaigns' %>">
    <%= link_to "Campaigns", :admin_campaigns, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'website' %>">
    <%= link_to "Website", :admin_website, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'payments' %>">
    <%= link_to "Payments", :admin_processor_setup, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
  <li class="<%= 'active' if active == 'notifications' %>">
    <%= link_to "Notifications", :admin_notification_setup, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
<% else %>
  <li class="<%= 'active' if active == 'campaigns' %>">
    <%= link_to "Campaigns", :admin_campaigns, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
<% end %>

  <li class="<%= 'active' if active == 'registration' %>">
    <%= link_to "Account", :user_settings, :class => 'show_loader', :'data-loader' => "admin_header" %>
  </li>
</ul>

