<div id="admin">
	<div id="admin_users" class="container content_box clear_fix">
		<%= render 'admin/header', active: 'users' %>
		<div class="admin_users_list">
			<% @users.each do |user| %>
			<div class="user_frame">
				<div>Name: <%= link_to user.fullname, admin_campaigns_path(owner: user) %> ( <%= user.email %> ) </div>
				<div><%= link_to "Campaigns", admin_campaigns_path(owner: user) %> :
				<% if user.campaign.length > 0 %>
					<% user.campaign.each do |cmp| %>
						( <%= link_to cmp.name, edit_admin_campaign_path(cmp) %> ) 
					<% end %>
				<% else %>
					none
				<% end %>
				</div>
				<div>Admin: <%= user.admin? ? "yes" : "no" %></div>
				<div>Created: <%= user.created_at %></div>
				<div>Last SignIn: <%= user.last_sign_in_at %></div>
			</div>
			<% end %>
		</div>
	</div>
</div>