<div id="admin">
  <div id="admin_users" class="container content_box clear_fix">
	<%= render 'admin/header', active: 'users' %>
	<% @users.each do |user| %>
	  <div>
		<hr/>
		<div>Name: <%= link_to user.fullname, admin_campaigns_path(owner: user) %></div>
		<div>Email: <%= user.email %></div>
		<div>Created: <%= user.created_at %></div>
		<div>Last SignIn: <%= user.last_sign_in_at %></div>
	  </div>
	<% end %>
  </div>
</div>