<div id="admin">
    <div class="container content_box clearfix">

        <%= render 'admin/header', active: 'campaigns' %>
    
        <% if params[:owner] %>
            <h4>Campains created by: <%= User.find(params[:owner]).fullname %></h4>
        <% end %>
        <div id="admin_campaigns">
            <% if @campaigns.length > 0 %>
    
                <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <% if current_user.admin? %>
                    <th>Owner</th>
                    <% end %>
                </tr>
        
                <% @campaigns.each do |campaign| %>
                <tr>
                    <td>
                        <% if campaign.media_type == 'image' %>
                            <%= image_tag campaign.main_image.url(:main), width:100, class:"pull-right" %>
                        <% end %>
                        <h4><%= link_to campaign.name, campaign_home_path(campaign) %></h4>
                        <div>
                            Raised:
                            <% if campaign.goal_type == "dollars" %>
                                $<%= number_with_precision(campaign.stats_raised_amount.to_f, precision: 2) %>
                            <% else %>
                                <%= campaign.orders %>
                            <% end %>
                            <br/>
                            Goal: 
                            <% if campaign.goal_type == "dollars" %>
                              $<%= number_with_precision(campaign.goal_dollars.to_f, precision: 2) %>
                            <% else %>
                              <%= campaign.goal_orders %>
                            <% end %><br/>
                            Expires On: <%= Date.parse(campaign.expiration_date.to_s).strftime("%m/%d/%Y") %><br/>
                            Published: <%= campaign.published_flag ? raw('<i class="icon-ok"></i>') : 'no' %><br/>
                            Payments Activated: <%= campaign.production_flag ? raw('<i class="icon-ok"></i>') : 'no' %>
                        </div>
                        <div class="campaign_actions">
                            <%= link_to 'Edit', edit_admin_campaign_path(campaign) %> | 
                            <%= link_to 'Payments', admin_campaigns_payments_path(campaign) %> | 
                            <%= link_to 'Copy', admin_campaigns_copy_path(campaign) %> | 
                            <%= link_to 'Delete', admin_campaign_path(campaign), 
                                            :confirm => "Campaign '#{campaign.name}' will be deleted, Are you sure?",
                                            :method => :delete %>
                        </div>
                    </td>
          
                    <% if current_user.admin? %>
                    <td title="<%= campaign.user.email %>">
                        <%= link_to campaign.user.fullname, admin_campaigns_path(owner: campaign.user) %>
                    </td>
                    <% end %>
                </tr>
                <% end %>
                </table>
            <% else %>
                <h4>No campaigns created yet.</h4>
            <% end %>
    
            <h4> + <%= link_to 'New Campaign', new_admin_campaign_path %></h4>
        </div>
    </div>
</div>
