<% if user_signed_in? %> <!-- && current_user.admin? -->
<div id="navbar">
	<div class="navbar navbar-inverse xnavbar-fixed-top">
		<div class="navbar-inner">
			<div class="container clearfix">
				<% if params[:controller] == 'campaigns' && ( current_user.admin? || @campaign.user_id == current_user.id ) %>
					<ul class="nav pull-right">
						<% if !@campaign.published_flag %>
							<li class="status red show_tooltip" data-placement="bottom" data-title="Visible to ADMINS ONLY">
								Not published
							</li>
						<% else %>
							<li class="status green show_tooltip" data-placement="bottom" data-title="Visible to ALL">
							   Published
							</li>
						<% end %>
	
						<% if !@campaign.production_flag %>
							<li class="status red show_tooltip" data-placement="bottom" data-title="Transactions WILL NOT be processed">
								Sandbox
							</li>
						<% else %>
							<li class="status green show_tooltip" data-placement="bottom" data-title="Transactions WILL be processed">
							Payments activated
							</li>
						<% end %>
						<li>
							<a href="<%= edit_admin_campaign_path(@campaign) %>"><!-- i class="icon-edit icon-white"></i -->Edit</a>
						</li>
					</ul>
				<% end %>
				<ul class="nav pull-left">
					<li>
						<%= image_tag 'user_icon.png' %>
						<%= link_to current_user.fullname, admin_campaigns_path %>
					</li>

					<% if current_page?(root_path) %>
						<% if current_user.admin? %>
					<!-- li><a href="<%= url_for admin_website_path %>"><i class="icon-edit icon-white"></i> Edit homepage</a></li -->
						<% end %>
					<!-- li><a href="<%= url_for new_admin_campaign_path %>"><i class="icon-plus icon-white"></i> New Campaign</a></li -->
					<% end %>

					<li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% else %>
	<!--<h4 class="pull-right"><%= link_to "Sign In", user_session_path %></h4>-->
<% end %>